
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <title>vue-lesson</title>
</head>
<body>
  <div id="app">
    <h3>[[ data ]]</h3>

    <!-- indexなしもできる -->
    <!-- <div v-for="greeting in greetings"> -->
    <div v-if="showGreetings">
      <div v-for="(greeting, index) in greetings">
        <p>[[ index ]]: [[ greeting ]]</p>
      </div>
    </div>
    <div v-else>
      <p>No greetings</p>
    </div>
    
    <!-- <button
      class="btn btn-primary"
      v-on:click="showGreetings = !showGreetings"
    > -->
    <button
      class="btn btn-primary"
      @click="showGreetings = !showGreetings"
    >
    [[ showGreetings ? '隠す' : '表示する' ]]
    </button>
  </div>
</body>
<script src="static/js/modules/bootstrap.bundle.min.js"></script>
<script src="static/js/modules/vue.global.js"></script>
<script src="static/js/main.js"></script>
</html>